#!/usr/bin/env nextflow

conda.enabled = true 

//edit parameters given to this pipeline
params {
    params.input_path = '/input_files/'
    params.qc_output = '/media/d1672139-af38-4080-8ce9-3acbf29c35a5/projects/practice_folder/rsync/qc_output'
    //threads = 5 //this is per task
}
executor {
    executor.queueSize = 5
    executor.cpus = 10
}

process {
    withName: 'ADAPTER_TRIMMING' {
        maxForks = 5
        cpus = 10
    }
    withName: 'HOST_DNA_TRIMMING' {
        maxForks = 4
        cpus = 10
    }
    withName: 'QUALITY_CHECK' {
        maxForks = 5
        cpus = 10
    }
}

